@import '../vendors/Assistant/assistant.css';
.Navbar {
  background: #662483;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.Navbar__brand--img {
  max-width: 150px;
  width: 100%;
}
.Navbar__list__item__link {
  color: #fff;
  font-size: 16px;
  font-family: "Assistant";
  letter-spacing: 0px;
  font-weight: 100;
  transition: all 0.3s ease-out;
}

.position {
  position: relative;
}

.main-padding {
  padding: 20px 100px 20px 100px;
}

/* offcanvas  */
.offcanvas {
  top: 105px !important;
  width: 100% !important;
  z-index: 999;
}

.Offcanvas__list__item__link {
  font-family: "Assistant";
  font-weight: 600;
  font-size: 26px;
  color: #fff;
}
.Offcanvas__list__item__icon {
  font-size: 28px;
}
.Offcanvas__footer {
  border-top: 1px solid #707070;
}
.Offcanvas__footer__heading {
  font-size: 26px;
}
.Offcanvas__footer__buttons--2--img {
  filter: invert(1);
}
.Offcanvas__footer__buttons--1 {
  padding: 0px 15px 0px 8px;
  height: 80px !important;
  display: inline-flex;
  background: #000000;
  border-radius: 7px;
  border: 1px solid #fff;
}
.Offcanvas__footer__buttons--1--img {
  max-width: 60px;
}
.Offcanvas__footer__buttons--1__text__heading {
  font-family: "Assistant";
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  line-height: 27px;
  white-space: nowrap;
}
.Offcanvas__footer__buttons--1__text__detail {
  font-family: "Assistant";
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}
.Offcanvas__footer__buttons--1:hover {
  background: rgba(0, 0, 0, 0);
}

.button-margin {
  margin-left: 40px;
}

/* hamburger menu */
.check {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 3;
  display: none;
}

.check:hover {
  cursor: pointer;
}

.ham-menu {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  padding: 0.5rem;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.25em;
}

.ham-menu .line {
  background-color: white;
  border-radius: 1em;
  width: 2rem;
  height: 0.21rem;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}

.check:checked ~ .ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}

.check:checked ~ .ham-menu .line2 {
  opacity: 0;
}

.check:checked ~ .ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}

@media only screen and (min-width: 1400px) {
  .Navbar__brand--img {
    width: 270px;
  }
}
@media only screen and (min-width: 1600px) {
  .Navbar__brand--img {
    width: 300px;
  }
}
@media only screen and (min-width: 1920px) {
  .Navbar__brand--img {
    width: 400px;
  }
  .Navbar__list__item__link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  .Navbar__list {
    display: none !important;
  }
  .Navbar {
    height: 105px;
    border-bottom: 1px solid #707070;
  }
  .background-mobile {
    background: #662483 !important;
  }
  .ham-menu {
    display: flex;
    right: -1rem;
    top: 0.7rem;
  }
  .check {
    display: block;
    right: -1rem;
    top: 0.7rem;
  }
  .main-padding {
    padding: 20px 40px 20px 40px;
  }
}
@media only screen and (max-width: 628px) {
  .Offcanvas__footer__buttons--1 {
    height: 70px !important;
  }
  .Offcanvas__footer__buttons--1__text__heading {
    font-size: 26px !important;
    line-height: 25px;
  }
  .Offcanvas__footer__buttons--1__text__detail {
    font-size: 16px;
  }
  .Offcanvas__footer__buttons--1--img {
    width: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .Navbar__brand--img {
    width: 150px;
  }
  .Navbar {
    height: 90px;
  }
  .offcanvas {
    top: 90px !important;
  }
  .check {
    top: 0rem;
    right: -0.5rem !important;
  }
  .ham-menu {
    top: 0rem;
    right: -0.5rem !important;
  }
  .Offcanvas__list__item__icon {
    margin-right: 10px;
  }
  .main-padding {
    padding: 25px 18px 20px 18px;
  }
  .Offcanvas__list__item__link {
    font-size: 28px !important;
    font-weight: 600;
  }
  .Offcanvas__footer__heading {
    font-size: 28px;
  }
}
@media only screen and (max-width: 485px) {
  .Offcanvas__footer__buttons--1 {
    height: 65px !important;
  }
  .Offcanvas__footer__buttons--1__text__heading {
    font-size: 24px !important;
    line-height: 24px;
  }
  .Offcanvas__footer__buttons--1__text__detail {
    font-size: 15px;
  }
  .Offcanvas__footer__buttons--1--img {
    width: 40px;
  }
  .button-margin {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 455px) {
  .Offcanvas__footer__buttons--1 {
    height: 60px !important;
  }
  .Offcanvas__footer__buttons--1__text__heading {
    font-size: 20px !important;
    line-height: 20px;
  }
  .Offcanvas__footer__buttons--1__text__detail {
    font-size: 14px;
  }
  .Offcanvas__footer__buttons--1--img {
    width: 35px;
  }
  .Offcanvas__list__item__link {
    font-size: 22px !important;
  }
  .Offcanvas__list__item__icon {
    font-size: 22px !important;
  }
}
@media only screen and (max-width: 388px) {
  .button-margin {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 387px) {
  .Offcanvas__footer__heading {
    font-size: 24px;
  }
  .Offcanvas__footer__buttons {
    flex-direction: column !important;
    align-items: start !important;
    justify-content: start;
  }
  .button-margin {
    margin-left: 0px;
    margin-top: 20px !important;
  }
}
.hero {
  height: 90vh;
  background: #662483;
  overflow: hidden;
  font-family: "Assistant";
}
.hero--container {
  position: relative;
}
.hero__header__heading {
  font-family: "Assistant";
  font-size: 120px;
  font-weight: 700;
  line-height: 103px;
  white-space: nowrap;
  letter-spacing: 1.32px;
}
.hero__play__link {
  color: #F6BC55;
  font-size: 25px;
  line-height: 28px;
  transition: all 0.3s ease-out;
}
.hero__play__link:hover {
  color: #F6BC55;
}
.hero__right--img {
  width: 1350px;
  position: absolute;
  bottom: -223px;
  right: -558px;
}

@media only screen and (height: 720px) {
  .hero {
    height: 630px !important;
  }
}
@media only screen and (min-height: 831px) {
  .hero {
    height: 894px;
  }
}
@media only screen and (min-width: 1677px) {
  .hero__right--img {
    width: 1982px;
    bottom: -292px;
    right: -762px;
  }
}
@media only screen and (min-width: 1400px) {
  .hero__right--img {
    width: 1982px;
    bottom: -292px;
    right: -762px;
  }
}
@media only screen and (min-width: 1472px) {
  .hero__right--img {
    width: 1982px;
    bottom: -292px;
    right: -847px;
  }
}
@media only screen and (max-width: 1366px) {
  .hero__header__heading {
    font-size: 88px;
    line-height: 75px;
  }
}
@media only screen and (max-width: 1290px) {
  .hero__right--img {
    width: 1333px;
    bottom: -197px;
    right: -544px;
  }
}
@media only screen and (min-width: 1270px) and (max-width: 1270px) {
  .hero__right--img {
    width: 1333px;
    bottom: -197px;
    right: -500px;
  }
}
@media only screen and (max-width: 1200px) {
  .hero__right--img {
    width: 1333px;
    bottom: -197px;
    right: -500px;
  }
  .hero__header__heading {
    font-size: 62px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1120px) {
  .hero__right--img {
    width: 1333px;
    bottom: -197px;
    right: -500px;
  }
  .hero__header__heading {
    font-size: 58px;
    line-height: 55px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__right--img {
    width: 1333px;
    bottom: -197px;
    right: -500px;
  }
  .hero__header__heading {
    font-size: 55px;
    line-height: 55px;
  }
}
@media only screen and (max-width: 991px) {
  .hero {
    height: 637px;
  }
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
}
@media only screen and (max-width: 866px) {
  .hero__right--img {
    width: 1333px;
    bottom: -245px;
    right: -500px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    height: 748px;
  }
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
  .hero__header {
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 9;
  }
  .hero__header__heading {
    font-size: 60px;
    line-height: 55px;
  }
}
@media only screen and (max-width: 567px) {
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
  .hero__play__link {
    font-size: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
  .hero__header__heading {
    font-size: 50px;
  }
  .hero__play__link {
    font-size: 20px;
  }
}
@media only screen and (max-width: 485px) {
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
  .hero__play__link {
    font-size: 20px;
    line-height: 25px;
  }
  .hero__header {
    left: 0px;
  }
  .hero__header__heading {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
  .hero__play__link {
    font-size: 18px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 375px) {
  .hero__right--img {
    width: 1333px;
    bottom: -250px;
    right: -500px;
  }
}
@media only screen and (max-width: 340px) {
  .hero__right--img {
    width: 1333px;
    bottom: -197px;
    right: -500px;
  }
  .hero__play__link {
    font-size: 16px;
    line-height: 20px;
  }
}
/* shop starts */
.Shop {
  background: #EDEDED;
  height: 572px;
}
.Shop__content {
  overflow: hidden;
}
.Shop__content__para {
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.14px;
  font-family: "Assistant";
  font-weight: 500;
  line-height: 30px;
}
.Shop__content__heading {
  margin-top: 0px !important;
  font-family: "Assistant";
  font-size: 60px;
  color: #E72F94;
  letter-spacing: 0.79px;
  font-weight: 700;
  margin-top: 65px;
}
.Shop__container {
  position: relative;
  height: 390px;
}
.Shop__container--img {
  position: absolute;
  width: 1107px;
  top: -70px;
  right: -93px;
}

@media only screen and (min-width: 1400px) {
  .Shop__content__heading {
    font-size: 72px;
    margin-top: 0px;
  }
  .Shop__content__para {
    font-size: 34px;
    line-height: 40px;
  }
  .Shop {
    height: 650px;
  }
  .Shop__container--img {
    width: 1237px;
    right: -150px;
  }
}
@media only screen and (max-width: 1399px) {
  .Shop__content__para {
    font-size: 22px;
    line-height: 28px;
  }
  .Shop__container--img {
    width: 985px;
    right: -150px;
  }
  .Shop {
    height: 500px;
  }
}
@media only screen and (max-width: 1195px) {
  .Shop__container {
    height: 350px;
  }
}
@media only screen and (max-width: 1147px) {
  .Shop__container--img {
    width: 1039px;
    right: -178px;
  }
  .Shop {
    height: auto;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1026px) {
  .Shop__container--img {
    width: 1103px;
    right: -178px;
  }
}
@media only screen and (max-width: 991px) {
  .Shop {
    height: auto;
  }
  .Shop__content__heading {
    margin-top: 0px;
  }
  .Shop__container {
    overflow-x: hidden;
    position: static;
    height: 530px;
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .Shop__container--img {
    position: static;
    width: 800px;
  }
}
@media only screen and (max-width: 919px) {
  .Shop__container {
    height: 450px;
  }
  .Shop__container--img {
    max-width: 700px;
  }
}
@media only screen and (max-width: 769px) {
  .Shop__content__para {
    font-size: 22px;
    line-height: 27px;
  }
}
@media only screen and (max-width: 655px) {
  .Shop__container {
    height: 400px;
  }
  .Shop__container--img {
    max-width: 600px;
  }
  .Shop__content__para {
    font-size: 20px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 530px) {
  .Shop__container {
    height: 350px;
    margin-left: -60px;
  }
  .Shop__container--img {
    max-width: 550px;
  }
  .Shop__content__para {
    font-size: 18px;
    line-height: 22px;
  }
  .Shop__content__heading {
    font-size: 55px;
    line-height: 57px;
  }
}
@media only screen and (max-width: 420px) {
  .Shop__container {
    height: 320px;
  }
  .Shop__container--img {
    width: 500px;
  }
  .Shop__content__para {
    font-size: 18px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 381px) {
  .Shop__container {
    height: 290px;
  }
  .Shop__container--img {
    width: 450px;
  }
  .Shop__content__heading {
    font-size: 50px;
    line-height: 55px;
  }
}
@media only screen and (max-width: 340px) {
  .Shop__container {
    height: 250px;
  }
  .Shop__container--img {
    width: 400px;
  }
  .Shop__content__heading {
    font-size: 47px;
    line-height: 54px;
  }
}
@media only screen and (max-width: 300px) {
  .Shop__container {
    height: 240px;
  }
  .Shop__container--img {
    width: 380px;
  }
  .Shop__content__para {
    font-size: 16px;
    line-height: 20px;
  }
  .Shop__content__heading {
    font-size: 45px;
    line-height: 50px;
  }
}
/* promise starts */
.Promise__content {
  max-width: 800px !important;
}
.Promise__detail {
  font-family: "Assistant";
  font-size: 20px;
  line-height: 26px;
}
.Promise__detail--bold {
  font-weight: bold;
}
.Promise__detail--skyblue {
  color: #36A9E1;
}
.Promise__heading {
  font-family: "Assistant";
  color: #0E2050;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
}
.Promise__container {
  background: #fff;
}
.Promise__container__box {
  max-width: 400px;
}
.Promise__container__box--img {
  max-width: 400px;
}
.Promise__container__box__heading {
  font-family: "Assistant";
  font-size: 26px;
  font-weight: 700;
}
.Promise__container__box__heading--pink {
  color: #E72F94;
}
.Promise__container__box__heading--green {
  color: #4A96A3;
}
.Promise__container__box__heading--blue {
  color: #0E2050;
}
.Promise__container__box__heading--skyblue {
  color: #36A9E1;
}
.Promise__container__box__heading--purple {
  color: #662483;
}
.Promise__container__box__heading--golden {
  color: #F6BC55;
}
.Promise__container__box__text {
  font-family: "Assistant";
  font-size: 18px;
  line-height: 23px;
}

@media only screen and (min-width: 1400px) {
  .Promise__heading {
    font-size: 60px;
    line-height: 65px;
  }
  .Promise__detail {
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .Promise__heading {
    font-size: 50px;
    line-height: 55px;
  }
}
@media only screen and (max-width: 546px) {
  .Promise__heading {
    font-size: 45px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 455px) {
  .Promise__heading {
    font-size: 40px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .Promise__heading {
    font-size: 35px;
    line-height: 40px;
  }
}
/* Video  */
.Video__content {
  max-width: 520px;
}
.Video__content__para {
  color: #E72F94;
  font-family: "Assistant";
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}
.Video__content__detail {
  color: #E72F94;
  font-family: "Assistant";
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.Video--iframe {
  width: 100%;
  height: 700px;
}

@media only screen and (min-width: 1920px) {
  .Video__content {
    max-width: 680px;
  }
  .Video__content__para {
    font-size: 25px;
    line-height: 28px;
  }
  .Video__content__detail {
    font-size: 25px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 1366px) {
  .Video--iframe {
    height: 500px;
  }
}
@media only screen and (max-width: 991px) {
  .Video--iframe {
    height: 400px;
  }
}
@media only screen and (max-width: 565px) {
  .Video--iframe {
    height: 400px;
  }
}
/* Join */
.Join {
  background: #fff;
}
.Join-dotted {
  border-top: 1px dotted;
}
.Join__content {
  max-width: 560px;
}
.Join__content__heading {
  color: #E72F94;
  font-family: "Assistant";
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}
.Join__content__para {
  font-family: "Assistant";
  font-size: 18px;
  line-height: 23px;
}
.Join__buttons--1 {
  height: 70px !important;
}
.Join__buttons--1--img {
  width: 50px;
}
.Join__buttons--1__text__heading {
  font-size: 25px;
  line-height: 20px;
}
.Join__buttons--1__text__detail {
  font-size: 14px;
}
.Join__buttons--1:hover {
  background: #000000;
}

@media only screen and (max-width: 387px) {
  .Join__buttons {
    display: block !important;
  }
}
/*Footer starts */
.Footer {
  background: #0E2E4E;
}
.Footer__left__logo {
  width: 155px;
}
.Footer__left__heading {
  font-family: "Assistant";
  font-size: 27px;
  color: #fff;
  letter-spacing: 0.4px;
}
.Footer__left__text {
  font-family: "Assistant";
  color: #fff;
  line-height: 5px;
  font-weight: 200;
}
.Footer__left__text-bold {
  font-family: "Assistant";
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}
.Footer__socials--div {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.Footer__socials--div__icon {
  font-size: 20px;
}
.Footer__menu__text-bold {
  font-family: "Assistant";
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}
.Footer__menu__list__item__link {
  font-family: "Assistant";
  color: #fff;
  line-height: 5px;
  font-weight: 200;
}
.Footer__copyright__text {
  color: #fff;
  font-family: "Assistant";
  font-weight: 200;
  letter-spacing: 0.18px;
  line-height: 15px;
}

@media only screen and (max-width: 575px) {
  .Footer__copyright__text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 425px) {
  .Footer__copyright__text {
    font-size: 12px;
    line-height: 19px;
  }
}/*# sourceMappingURL=watch-the-video.css.map */